<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
</head>

<body>
<form action ="/newToDoItem" method="POST">
    Title<input type="text" name="itemTitle"></input>
    <input type="submit">Add Task</input>
</form>

    
</body>
</html>